baseurl: ''
exclude: ['README.md']
permalink: pretty
title: 'Parachute'

collections:
  services:
    output: true
    permalink: /services/:path/
  team:
    output: true
    permalink: /team/:path/
  testimonials:
    output: true
    permalink: /testimonials/:path/

defaults:
  - scope:
      type: services
    values:
      layout: service
      bodyClass: page-services-single
  - scope:
      path: "images"
    values:
      image: true

sass:
  style: compressed # possible values: nested expanded compact compressed

google_analytics_id: null

MANDRILL_APIKEY: 99