---
title: Parachute - Soft landings for hard times
layout: default
bodyClass: page-home
intro: This is my intro
undefined: ''

---
<div id="fullpage">
  <section id="intro" class="text-white layout-hero fp-noscroll">

    <div id="hero-content" class="position-relative text-center d-flex flex-column hero-content px-4 px-lg-6">
      <div class="inner mx-auto">
        <blockquote class="font-weight-bold mb-3">
          <p>We help struggling businesses and successful businesses to be prepared for what the future holds.</p>
        </blockquote>

        <div class="mission-statement text-highlight font-weight-semibold mb-1">
          <p>Being prepared is what parachute is all about.<br>It’s not a leap, it’s a simple step.</p>
        </div>

        <div class="tagline text-uppercase font-weight-semibold">
          <p>Making a fall with a controlled landing</p>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        {% assign i = 0 %}
        {% for image in site.static_files %}
          {% if image.path contains 'images/hero' %}
            {% assign bg = site.baseurl | append: image.path %}
            <div class="carousel-item{% if i==0 %} active{% endif %}" style="background-image:url({{bg}});">
              <!-- <img src="{{ site.baseurl }}{{ image.path }}" class="d-block" alt=""> -->
            </div>
            {% assign i = i | plus:1 %}
          {% endif %}
        {% endfor %}
      </div>
    </div> 

    <div class="hero-footer text-center bg-white text-secondary py-3 py-md-4">
      <div class="col-12 col-md-6 col-lg-6 mx-auto">
        <p>Parachute offer you an experience that will make you stronger and better prepared next time...</p>
      </div>
    </div>

  </section>

 <!--  <section id="why-parachute" class="py-5 fp-noscroll section-2 layout-services">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-12">
          <h2 class="our-purpose-title mb-2">Our sole purpose is to help our clients.</h2>
        </div>
        {% for service in site.services %}
        <div class="col-12 col-md-4 mb-1">
          <div class="service service-summary">
            <div class="service-content">
              <h2 class="service-title">
                <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
              </h2>
              {{ service.content | markdownify | strip_html | truncate: 100 }}
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center">
          <a class="btn btn-light mt-2" href="{{site.baseurl}}/services">View All Services</a>
        </div>
      </div>
    </div>
  </section>

  <section id="hp-section-3" class="py-5 section-3 fp-noscroll layout-features">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12">
          <h2 class="text-uppercase h1 title text-center mb-4">Our Features</h2>
        </div>
        {% for feature in site.data.features %}
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="feature">
            {% if feature.image %}<div class="mb-1 feature-image"><img class="" alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
            <h3 class="feature-title">{{ feature.title }}</h3>
            <div class="feature-content">{{ feature.description }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section> -->
</div>