<div id="header" class='header {{include.headerClass}}'>
  <div class="d-flex py-1 align-items-center justify-content-between container">
    <div class="logo">
      <a href="{{site.baseurl}}/"><img class="svg" alt="{{site.title}}" src="{{site.baseurl}}/assets/images/logo.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{site.baseurl}}/"><img class="svg"  alt="{{site.title}}" src="{{site.baseurl}}/assets/images/logo-mobile.svg" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>