<nav id="header" class="py-h py-md-1h navbar fixed-top navbar-light bg-primary navbar-expand-md {{include.headerClass}}">
  <div class="d-flex align-items-center justify-content-between container">
      <div class="navbar-brand logo">
        <a href="{{site.baseurl}}/"><img class="" alt="{{site.title}}" src="{{site.baseurl}}/assets/images/logo.svg" /></a>
      </div>

      <button id="toggle-main-menu" class="hamburger hamburger--collapse collapsed" type="button" data-toggle="collapse" data-target="#navbarLayout" aria-controls="navbarLayout" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarLayout">
        <ul class="nav" id="main-menu">
          <li class="nav-item"><a href="#whyparachute" class="nav-link">Why Parachute?</a></li>
          <li class="nav-item"><a href="#howwehelp" class="nav-link">Obligation Free Help</a></li>
          <li class="nav-item"><a href="#ourpromise" class="nav-link">Our Promise</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contact Us</a></li>
        </ul>

        <div class="d-block d-md-none text-center mt-4 text-white">
          {% include contact.html %}
        </div>

      </div>
  </div>
</nav>

<h1 class="sr-only">Parachute - soft landings for hard times</h1>