<section class="bg-dark text-light layout-subfooter layout">
  <div class="container py-1">
    <div class="font-size-sm row text-center sub-footer">
      <div class="col-sm-12"><p class="mb-0 copyright">© {{site.title}} {{site.time | date:'%Y'}} All Rights Reserved - <a href="/terms-conditions">Terms &amp; Conditions</a> - <a href="/privacy-policy">Privacy Policy</a> </p></div>
      <div class="col-sm-12"><p class="mb-0 va">Liability Limited by a scheme approved under professional standards legislation | Website by <a href="http://www.weareva.com.au" target="_blank">VA</a></p></div>
    </div>
  </div>
</section>