<section class="bg-primary text-white link-white layout-subfooter layout">
  <div class="container pt-3 pb-4">
    <div class="font-size-xs row sub-footer text-left">
      <div class="col-12"><p class="mb-0 copyright">© {{site.title}} {{site.time | date:'%Y'}} • <a href="/terms-conditions">Terms &amp; Conditions</a> • <a href="/privacy-policy">Privacy Policy</a> </p></div>
      <div class="col-12"><p class="mb-0 weareva"><a href="http://www.weareva.com.au" target="_blank">Website by VA</a></p></div>
    </div>
  </div>
</section>