.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1;
  }
}

body:not(.page-home) {
  background: url('../images/pattern.svg') no-repeat;
  background-size: 50vh;
  background-attachment: fixed;
  background-position: center right;
}

.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    width: 120px;
  }
  img, svg {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}


.logo-mobile {
  display: block;
  width: 70px;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  svg, img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: padding 225ms, box-shadow 225ms, background-color 0.3s;
}

.header {
  background-color: transparent;
  // background-color: $primary;
  transition: all 0.35s ease-out;
  .main-menu > ul > li > a {
    color: $white;

    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 80%;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 50%;
      width: 0%;
      transform: translateX(-50%);
      height: 3px;
      background: $white;
      transition: 0.35s;
    }

    &:after {
      // content: "";
      // position: absolute;
      // background-color: transparent;
      // height:1.5rem;
      // z-index: -1;
      // right: -1%;
      // left: -1%;
      // top: -0.9rem;
      // border-radius: 50% / 100%;
      // border-bottom-left-radius: 0;
      // border-bottom-right-radius: 0; 
      // border-color: $white;
      // border-width: 2px;
      // border-style: solid;
      // border-bottom: 0;
      // opacity: 0;
      // transition: all 0.25s ease-out;
    }

    &:hover {
      color: $blue-light;
      &:after {
        // height: 1.2rem;
        // opacity: 1;
        // top: -0.2rem;
      }
    }
    &.active, &:active:hover {
      color: $blue-light;
    }
  }
  
  &.theme-light .logo svg {
    path, text { fill: #fff !important; }
  }
  &.theme-light .logo-mobile svg {
    path { fill: #fff !important; }
  }
}

.header.theme-dark {
  color: $primary;
  background-color: #ffffff;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  .main-menu > ul > li > a {
    color: $primary;
    &:after {
      background-color: $secondary;
    }
    &:hover {
      color: $blue-med;
    }
    &.active, &:active:hover {
      color: $black;
    }
  }

  .hamburger {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: $primary;
    }
  }

}



.main-menu {
  height: inherit;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      height: inherit;
      margin: 0;
      padding: 0;
      list-style: none;
      &:last-of-type {
        margin: 0;
      }
      > a {
        height: inherit;
        display: inline-block;
        padding: 0;
        font-size: $nav-link-font-size;
        font-weight: 600;
        text-transform: uppercase;
        color: inherit;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
    > li.active {
      > a {
        span {
          display: block;
        }
      }
      ul.sub-menu.hidden {
        display: flex;
        opacity: 0;
        transition: all 225ms ease-in 0s;
        z-index: 1;
      }
      ul.sub-menu {
        display: flex;
        opacity: 0.8;
        transition: all 225ms ease-in 0s;
      }
    }
  }
}

$color-main: $primary;
$color-active: #fff;
$color-link: #fff;

$button-height: 27px;
$button-width: 35px;

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $color-main;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.main-menu-mobile {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
    z-index: 10;
    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;
      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.55s;
      }
      &:nth-of-type(6) {
        animation-delay: 0.6s;
      }
    }
  }
  ul {
    font-size: 2rem;
    font-family: $font-family-heading;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0;
    li {
      display: block;
      position: relative;
      opacity: 0;
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: 0.35s;
        }
      }
    }
  }
}

.lock-scroll {
  overflow: hidden;
}

.layout-intro {
  display: flex;
  margin-bottom: 5rem;
  justify-content: flex-start;
  align-items: flex-end;
  height: 50vh; 
  background: $primary;
 // background: white url('../images/top-strip.svg') no-repeat;
  background-size: cover;
  background-position: 0% -20%;
  min-height: 400px;

  &.intro-small {
    min-height: 200px;
    height: auto;
  }

  h1 {
   // color: $primary;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 70%;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
      width: 70%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      width: 50%;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .intro-text {
    align-self: flex-end;
    flex: 1;
  }
}


.layout-subfooter {
  a {
    color: $blue-lightest;
    text-decoration: underline;
  }
}
