
//
// Typography & Basic Styles
// --------------------------------------------------

// p {
//   line-height: 1.6;
//   &:last-child {
//     margin-bottom: 0;
//   }
// }

strong {
  font-weight: bold;
}

.pre-line {
  white-space: pre-line;
}

.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
 // font-weight: 900;
}
.font-size-large {
  font-size: $font-size-lg !important;
}

.font-size-xs {
  font-size: $font-size-xs !important;
}
.font-size-sm, .font-size-small {
  font-size: $font-size-sm !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.readmore {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  padding-left: 1rem;
}

h1, .h1 {
  font-size: 2.7rem;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-family: $font-family-heading;
  //text-transform: uppercase;  
}


h2, .h2 {
  font-size: 2rem; 
  font-weight: 500;
 // font-family: $font-family-heading;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: 500;
 // font-family: $font-family-heading;
}

.h4, h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.h5, h5 {
  font-size: 1.1rem;
}

.btn-light {
  color: $gray-900;
  &:hover {
    background-color: $blue-light;
  }
  &:active, &:focus, &.focus {
    //box-shadow:  0 0 0 0.15rem rgba($highlight-color,.5);
  }
}

.btn {
  border-width: 2px;
  text-transform: uppercase;
  font-family: $font-family-heading;
  font-weight: bold;
}



// .btn-light {
//   background-color: $white;
//   border-color: $secondary-color;
//   border-width: 2px;
//   color: $secondary-color;
//   //box-shadow:  0 0 0 2px $accent-color;
//   &:active, &:hover, &:focus {
//     background-color:$secondary-color;
//     color: $white;//darken($secondary-color, 10%);
//     border-color: $secondary-color;//black;
//   }  
//   &:active, &:focus, &.focus {
//    //.box-shadow:  0 0 0 0.15rem rgba($highlight-color,.5);
//   }
// }

