.page-home {
  .header .logo a {
    //opacity: 0;
    //visibility: hidden;
  }
  //background-image: url('../images/undraw_taking_notes_tjaf.svg');
}

.teardrop {
  width: 80%;
  position: absolute;
  right: -5%;
  top:80%;
  opacity: 0.1;
}


// Homepage
.page-home .layout-hero {
  display: flex;
  //justify-content: flex-start;
  align-items: flex-end;
  height: 100vh; 
  background: $primary url('../images/top-strip.svg') no-repeat;
  background-size: cover;
  background-position: 0% -20%;


  $logo-width: 300px;

  .logo-hero {
    width: 350px;
  }

  .logo-word {
    width: 100%;
    //position: absolute;
    top: 300px;
    path {
      opacity:0;
     // transition: opacity 10s;
      //transition: opacity 2s ease-in;
      animation: fadeIn 5s; animation-delay: 12s;
    }
  }

  .parachute {
    width: $logo-width * .55;
    margin: 0 auto 50px auto;
    position: fixed;
    top: -10%;
    z-index: 9999;
    user-select: none;
    cursor: default;
    animation-name: para-fall, para-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: 1, 4;
    animation-play-state: running, running;

  }

  h1 {
   // color: $primary;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 70%;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
      width: 70%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      width: 50%;
    }
  }
  .container {
    padding-bottom: 2rem;
    //height: 100%;
    //justify-content: flex-center;
  }
  .intro-text {
    align-self: flex-end;
   // flex: 0 0 50%;
  //  max-width: 50%;
   // position: absolute;
    //bottom: 2rem; 
    flex: 1;
    //margin-right: 2rem;
  }
}

.section-2 {
 // background-color: $gray-900;
  background: linear-gradient($gray-900 70%, $gray-800);
 //background-color: mix($primary, $white, 75%);// $blue-med;
// background: #FFE48D; // yellow
 //background-color:#F4C83B;
  color: $white;
  a:not(.btn) {
   color: $white;
   color: lighten($primary, 50%);
  }
  .our-purpose-title {
    font-size: 3rem;
    font-weight: 100;
    font-family: $font-family-heading;
  }
}

.section-3 {

  h2.title {
    font-weight: 200;
    color: $black;
    font-size: 2.4rem;
  }

  background: url('../images/pattern.svg') no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: bottom right;
  // background-color: mix($primary, $white, 75%);// $blue-med;
  //background-color: $primary;

}
